Film-Production/Opensource-Equipment/Software/Code/ExampleFlow.yaml
[
    {
        "id": "9a2e6365be356de8",
        "type": "tab",
        "label": "Hot Plate & Syringe Sequence",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c6913c861a8555fe",
        "type": "inject",
        "z": "9a2e6365be356de8",
        "name": "Start Sequence",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "fb00a0e10eeba855"
            ]
        ]
    },
    {
        "id": "fb00a0e10eeba855",
        "type": "function",
        "z": "9a2e6365be356de8",
        "name": "Step 1: 50°C & 1500 RPM",
        "func": "node.send({ topic: \"status\", payload: \"Step 1: Set temp 50°C and stir 1500 RPM\" });\nnode.send({ topic: \"plant/hotplate01/cmd\", payload: JSON.stringify({ heat: { target: 50 } }) });\nreturn { topic: \"plant/hotplate01/cmd\", payload: JSON.stringify({ stir: { rpm: 1500 } }) };",
        "outputs": 1,
        "x": 210,
        "y": 480,
        "wires": [
            [
                "517ffa18020423e6",
                "4f1377b6308766ca",
                "6882ed256bb714f0"
            ]
        ]
    },
    {
        "id": "517ffa18020423e6",
        "type": "delay",
        "z": "9a2e6365be356de8",
        "name": "Wait 5 minutes",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "randomFirst": "0",
        "randomLast": "1",
        "randomUnits": "seconds",
        "allowrate": false,
        "outputs": 1,
        "x": 440,
        "y": 480,
        "wires": [
            [
                "af0e8a2b06254354"
            ]
        ]
    },
    {
        "id": "af0e8a2b06254354",
        "type": "function",
        "z": "9a2e6365be356de8",
        "name": "Step 2: Start Pump",
        "func": "node.send({ topic: \"status\", payload: \"Step 2: Start pump 8.5ml/min for 85ml (600s)\" });\nreturn {\n    topic: \"plant/syringe01/cmd\",\n    payload: JSON.stringify({\n        flow: { tip: \"22g\", rate: 8.5, duration: 600 }\n    })\n};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 480,
        "wires": [
            [
                "fb7bea4e5b42cdd6",
                "4f1377b6308766ca",
                "6882ed256bb714f0"
            ]
        ]
    },
    {
        "id": "fb7bea4e5b42cdd6",
        "type": "delay",
        "z": "9a2e6365be356de8",
        "name": "Wait 10 minutes",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "randomFirst": "0",
        "randomLast": "1",
        "randomUnits": "seconds",
        "allowrate": false,
        "outputs": 1,
        "x": 940,
        "y": 480,
        "wires": [
            [
                "f248723022bb1519"
            ]
        ]
    },
    {
        "id": "f248723022bb1519",
        "type": "function",
        "z": "9a2e6365be356de8",
        "name": "Step 3: Temp to 60°C",
        "func": "node.send({ topic: \"status\", payload: \"Step 3: Raise temp to 60°C\" });\nreturn { topic: \"plant/hotplate01/cmd\", payload: JSON.stringify({ heat: { target: 60 } }) };",
        "outputs": 1,
        "x": 1180,
        "y": 480,
        "wires": [
            [
                "a6df78826c0a763e",
                "4f1377b6308766ca",
                "6882ed256bb714f0"
            ]
        ]
    },
    {
        "id": "a6df78826c0a763e",
        "type": "delay",
        "z": "9a2e6365be356de8",
        "name": "Wait 10 minutes",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "randomFirst": "1",
        "randomLast": "1",
        "randomUnits": "seconds",
        "allowrate": false,
        "outputs": 1,
        "x": 1440,
        "y": 480,
        "wires": [
            [
                "af1419e8222cbc19"
            ]
        ]
    },
    {
        "id": "af1419e8222cbc19",
        "type": "function",
        "z": "9a2e6365be356de8",
        "name": "Step 4: Cool + 500 RPM",
        "func": "node.send({ topic: \"status\", payload: \"Step 4: Cool (off) & stir 500 RPM\" });\nnode.send({ topic: \"plant/hotplate01/cmd\", payload: JSON.stringify({ heat: { target: 0 } }) });\nreturn { topic: \"plant/hotplate01/cmd\", payload: JSON.stringify({ stir: { rpm: 500 } }) };",
        "outputs": 1,
        "x": 1670,
        "y": 480,
        "wires": [
            [
                "03f2eacbc8b61232",
                "4f1377b6308766ca",
                "6882ed256bb714f0"
            ]
        ]
    },
    {
        "id": "03f2eacbc8b61232",
        "type": "delay",
        "z": "9a2e6365be356de8",
        "name": "Wait 5 minutes",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "randomFirst": "1",
        "randomLast": "1",
        "randomUnits": "seconds",
        "allowrate": false,
        "outputs": 1,
        "x": 1920,
        "y": 480,
        "wires": [
            [
                "6c67f5339d7d4831"
            ]
        ]
    },
    {
        "id": "6c67f5339d7d4831",
        "type": "function",
        "z": "9a2e6365be356de8",
        "name": "Sequence Done",
        "func": "return { topic: \"status\", payload: \"✅ Sequence complete\" };",
        "outputs": 1,
        "x": 2120,
        "y": 480,
        "wires": [
            [
                "4f1377b6308766ca"
            ]
        ]
    },
    {
        "id": "4f1377b6308766ca",
        "type": "switch",
        "z": "9a2e6365be356de8",
        "name": "Status Filter",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "status",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1190,
        "y": 300,
        "wires": [
            [
                "632ae971786cc090"
            ]
        ]
    },
    {
        "id": "6882ed256bb714f0",
        "type": "mqtt out",
        "z": "9a2e6365be356de8",
        "name": "MQTT Out",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "broker": "6493a6b7c63c31fc",
        "x": 1170,
        "y": 620,
        "wires": []
    },
    {
        "id": "632ae971786cc090",
        "type": "ui_text",
        "z": "9a2e6365be356de8",
        "group": "0b1b43ccdbf74fd2",
        "order": 10,
        "width": 6,
        "height": 1,
        "name": "Status Display",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1380,
        "y": 300,
        "wires": []
    },
    {
        "id": "6493a6b7c63c31fc",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "10.10.10.55",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0b1b43ccdbf74fd2",
        "type": "ui_group",
        "name": "Hot Plate Control",
        "tab": "9dc87c21299fbe8d",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9dc87c21299fbe8d",
        "type": "ui_tab",
        "name": "Hot Plate",
        "icon": "dashboard",
        "order": 1
    }
]
